<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<system.webServer>
<security>
    <requestFiltering allowDoubleEscaping="true">
        <hiddenSegments>
            <add segment="keys.seo" />
            <add segment="gaopin.seo" />
            <add segment="kill.txt" />
            <add segment="city.txt" />
            <add segment="spider.gif" />
        </hiddenSegments>
    </requestFiltering>
</security>
<rewrite>
    <rules>
        <rule name="post">
            <match url="^post\/(.*)\.html$" />
            <action type="Rewrite" url="post.php?s={R:1}" appendQueryString="true" />
        </rule>
        <rule name="city">
            <match url="^city\/([0-9]+)$" />
            <action type="Rewrite" url="index.php?city={R:1}" appendQueryString="true" />
        </rule>
        <rule name="list">
            <match url="^list\/([0-9]+)\.html$" />
            <action type="Rewrite" url="list.php?id={R:1}" appendQueryString="true" />
        </rule>
        <rule name="hot">
            <match url="^hot\/(.*)\.html$" />
            <action type="Rewrite" url="hot.php?k={R:1}" appendQueryString="true" />
        </rule>
        <rule name="index">
            <match url="^(index.html|index.htm|index.asp|index.aspx|index.do)$" />
            <action type="Rewrite" url="index.php" />
        </rule>
        <rule name="sitemap1">
            <match url="^sitemap.xml$" />
            <action type="Rewrite" url="sitemap.php?st=xml" />
        </rule>
        <rule name="sitemap2">
            <match url="^sitemap.txt$" />
            <action type="Rewrite" url="sitemap.php?st=txt" />
        </rule>
        <rule name="404">
            <match url="^.*$" />
            <conditions logicalGrouping="MatchAll">
                <add input="{URL}" pattern="^(list\/|city\/|post\/|hot\/|open\/|sitemap\.|index\.)" ignoreCase="false" negate="true"/>
                <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
            </conditions>
            <action type="Rewrite" url="404.php" />
        </rule>
    </rules>
</rewrite>
</system.webServer>
</configuration>